.VoteButtons {
    text-align: center;
    font-size: 0.66em;

    margin: 1em 0;
}

.VoteButtons a,
.VoteButtons span {
    display: inline-block;    
}

.VoteButtons-button {
    font-family: 'Raleway', serif;
    font-size: 10em;

    border-radius: 100%;
    width: 1em;
    height: 1em;


    text-align: center;
    vertical-align: middle;
    line-height: 1;

    padding: 0em;

    text-decoration: none;
    color: white;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.65);
    -webkit-tap-highlight-color: transparent;
}

.VoteButtons-divider {
    background-color: #fff;
    width: 1px;
    height: 10em;
    vertical-align: bottom;

    margin: 0 12vw;
}

.VoteButtons-button.positive {
    background: #7ED321;
}

.VoteButtons-button.negative {
    background: #D0021B;
}

.VoteButtons-button:active {
    box-shadow: inset 2px 2px 8px rgba(0,0,0,0.65);
    transition: none;
}

.VoteButtons-button.positive:active {
    background: #7ac232;

}

.VoteButtons-button.negative:active {
    background: #c21014;
}

.VoteButtons-button.disabled,
.VoteButtons-button.disabled:active {
    background: #52787C;
    color: #999;
    box-shadow: none;
}
