.Gauge {
    min-height: 300px;
    display: block;
}

.Gauge-outline {
    width: 80%;
    height: 80%;
    margin: 10% 10%;
}

#Oval {
    transform: rotate(100deg);
    transform-origin: 130.5px, 186px;
}