.Gauge {
    min-height: 300px;
    display: block;
}

.Gauge-svg {
    width: 80%;
    height: 80%;
    margin: 10% 10%;
}

#Needle {
    transform: rotate(45deg);
    transform-origin: center bottom;
    transition: transform 200ms ease-in-out 10ms;
}

#Combined-Shape {
    box-shadow: 1px 1px #000;
}